<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Welcome to Crypto Demos</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/creative.min.css') }}" rel="stylesheet">
    <script src={{ url_for('static', filename='js/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='js/popper.min.js') }}></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>


</head>
<body>
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Cryptography Algorithms Demonstration</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Created by Erikas Eigėlis, Vilnius University, Kaunas Faculty</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="/des/">DES Example</a>
                <br><br>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="/aes/">AES Example</a>
                <br><br>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="/rsa/">RSA Example</a>
                <br><br>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="/md5/">MD5 Example</a>
            </div>

        </div>
    </div>
</header>
</body>

</html>